body {
    margin: 0;
    padding: 0;
}

div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

hr {
    width: 500px;
}

.sum {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}